nav {
    background-color: orange;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a, footer a {
    color: white;
    text-decoration: none;
}

nav a:hover, footer a:hover {
    color: rgb(194, 193, 193);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Orbitron', sans-serif;
}

.container {
    background-color: white;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 6px lightgray;
}

.profile-img{
            width: 130px;
            height: 130px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid orange;
            margin-bottom: 10px;
}

.subtitle {
    color: gray;
    margin-bottom: 15px;
}

h2 {
    color: #333;
    margin-bottom: 8px;
}

table{
            width: 100%;
            margin-top: 10px;
            border-collapse: collapse;
            text-align: centre;
}

thead{
            background-color: orange;
            color: white;
        }

th, td {
            padding: 10px;
            border: 1px solid black;
        }

tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        } 

tbody tr:hover {
            background-color: #e6e6e6;
    
        }
form {
    text-align: left;
    margin-top: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: orange;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

.product-img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    background-color:orange;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
}